.form-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.formbox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 55px;
    height: 75%;
    width:  50%;
    justify-content: center;
}

@media (max-width: 768px) {
    .formbox {
        width: 100%;
    }
}