.form-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.formbox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10%;
    width:  70%;
    justify-content: center;
    background-color: aliceblue;
}



.background-image{
    
    display: flex;
    
    flex-direction: column;
    border-radius: 50px;
    height: 100%;
    width:  90%;
    padding-left: 20%;
    justify-content: center;
    background-size: cover;
}

@media (max-width: 768px) {
    .formbox {
        width: 100%;
    }
}